<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potluck Planner</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Potluck Planner Menu</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Your Dishes</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Happy Eating!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>