{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="button" class="like-btn">Like Recipe</button>
    <button type="submit">Add Suggestion</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
<script src="/public/js/like.js"></script>
{{/if}}