* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #bd5011;
  }
  
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  
  .row.content {height: 450px}
  
  .sidenav {
    padding-top: 20px;
    background-color: #073718;
    height: 100%;
  }
  
  footer {
    background-color: #423925;
    color: white;
    padding: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }